@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

.disable_button {
  pointer-events: none;
  opacity: 0.5;
}

.title {
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  background: -webkit-linear-gradient(left, #B06AB3 20%, #8da6cf 40%, #8da6cf 60%, #B06AB3 80%);
  background: -moz-linear-gradient(left, #B06AB3 20%, #8da6cf 40%, #8da6cf 60%, #B06AB3 80%);
  background: linear-gradient(to right, #B06AB3 20%, #8da6cf 40%, #8da6cf 60%, #B06AB3 80%);
  background-size: 200% auto;
  color: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 3s linear infinite;
  animation: shine 3s linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.description {
  text-align: center;
  font-size: 13px;
  color: #B5B5B5;
}

#buttons {
  position: relative;
  display: block;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 120px;
}
.start_game {
  background: -webkit-linear-gradient(135deg, #FF7256, #B06AB3);
  background: -moz-linear-gradient(135deg, #FF7256, #B06AB3);
  background: linear-gradient(135deg, #FF7256, #B06AB3);
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 25%;
  -webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}
.init_game {
  background: -webkit-linear-gradient(-135deg, #8da6cf, #a2798f);
  background: -moz-linear-gradient(-135deg, #8da6cf, #a2798f);
  background: linear-gradient(-135deg, #8da6cf, #a2798f);
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 25%;
  -webkit-transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}
.start_game:hover, .init_game:hover {
  box-shadow: 0 10px 25px rgba(86, 86, 86, 0.25), 0 10px 8px rgba(86, 86, 86, 0.18);
}

#defaultCanvas0 {
  display: block;
  margin: 50px auto;
  border-radius: 4px;
}

.info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 600px;
}
.info ul {
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  list-style-type: none;
  padding: 10px;
}
.info ul li {
  background: -webkit-linear-gradient(330deg, #FF7256 0%, #B06AB3 25%, #8da6cf 50%, #B06AB3 75%, #FF7256 100%);
  background: -moz-linear-gradient(330deg, #FF7256 0%, #B06AB3 25%, #8da6cf 50%, #B06AB3 75%, #FF7256 100%);
  background: linear-gradient(330deg, #FF7256 0%, #B06AB3 25%, #8da6cf 50%, #B06AB3 75%, #FF7256 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  border-top: 1px solid #e6e6e6;
  display: block;
  padding-top: 20px;
  margin: 20px auto;
  width: 600px;
}
footer p {
  text-align: center;
  color: #909090;
  font-size: 13px;
}
footer p a {
  text-decoration: none;
  color: #909090;
  font-size: 13px;
}
footer p a:hover {
  text-decoration: underline;
}